.tab_title{
	font-weight:bold;
}

.myTabs .tab-pane{
	border: solid 1px #DDDDDD;
	border-top: 0;	
	background-color:#FCFCFC;
	padding: 12px;
}

#myTabs li a{
	background-color: #CCCCCC;
}

#myTabs li.active a{
	border-bottom-color: transparent;
	background-color: #FCFCFC;
}

label{
	font-weight:bold;
	font-size:1.1em;
	color:#777;
}

a.btn{
	width:25%;
}

.light-text{
	font-size:.9em;
	color:#777;
}

.tab-content > .tab-pane {
	padding-top:20px;
}

.panel-group {
	margin-bottom: 10px;
	overflow: hidden;
}

.panel-group > .panel {
	background-color: #337ab7;
	cursor: pointer;
}

.panel-group > .panel:hover {
	background-color: #286090;
}

.panel-group > .panel > .panel-heading {
	line-height: 1.25;
}

.panel-group > .panel > .panel-heading > a {
	color: white;
}

.panel-group > .panel .panel-body {
	background-color: white;
}

.panel-collapse > .panel-body {
	line-height: 1.5;
	padding-top: 8px;
	padding-bottom: 8px;
}





/** CSS to make dropdown look correct in nav-bar **/
.navbar-nav > li > .dropdown > a {
	padding: 15px;
	color: #fff;
	display: block;
}
.nav .open > a, .nav .open > a:focus,
.nav .open > a:hover {
    background-color: #b1441d;
    text-decoration: none;
}

.note{
	color:#FF1919;
	font-style:italic;
}

.table td:first-child {
	border-left: 2px solid #DDDDDD;
}

.table td:last-child {
	border-right: 2px solid #DDDDDD;
}

.table tr:last-child {
	border-bottom: 2px solid #DDDDDD;
}


/* Style rules for file upload input */
.btn-file{
	position:relative;
	overflow:hidden;
}
.btn-file input[type=file]{
	position:absolute;
	top:0;
	right:0;
	min-width:100%;
	min-height:100%;
	font-size:100px;
	text-align:right;
	filter:alpha(opacity=0);
	opacity:0;
	outline:0;
	background:white;
	cursor:inherit;
	display:block;
}

input[readonly]{
	background: white !important;
	cursor: text !important;
}

.loading-img {
	height: 36px;
	width: 36px;
}
