.tab_title{
	font-weight:bold;
}

.myTabs .tab-pane{
	border: solid 1px #DDDDDD;
	border-top: 0;	
	background-color:#FCFCFC;
	padding: 12px;
}

#myTabs li a{
	background-color: #CCCCCC;
}

#myTabs li.active a{
	border-bottom-color: transparent;
	background-color: #FCFCFC;
}



/** CSS to make dropdown look correct in nav-bar **/
.navbar-nav > li > .dropdown > a {
	padding: 15px;
	color: #fff;
	display: block;
}
.nav .open > a, .nav .open > a:focus,
.nav .open > a:hover {
    background-color: #b1441d;
    text-decoration: none;
}

.note{
	color:#FF1919;
	font-style:italic;
}

